.imagem-carrosel-um{
    object-fit: cover;
    object-position: 0 1%;
    height: 400px;
}



.fonte-titulo{
    font-family: 'McLaren', cursive;
}
.fonte-titulo1{
    font-family: 'McLaren', cursive;
    color: rgb(0, 0, 0);
}

.cor-especial{
    color: rgb(0, 0, 0);
}

.botao-cor-especial{
    background-color: rgb(0, 0, 0);
    color: white;
}

.borda-cor-especial{
    border-color: rgb(0, 0, 0);
    max-width: 18rem
}

.card-posicao-imagem{
    object-fit: contain;
    height: 200px;
    margin-top: 0.5cm;
}